body {

    margin: 0;
    padding: 0;
    background-color: #FBF9F1;
    font-family: sans-serif;

}


.header {
    width: 100%;

}

.container_header {
    width: 90%;
    display: flex;
    margin: auto;

}

.imagem_flux {

    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 8px;
}


.imagem_flux img {
    width: 183px;
    height: 151px;

}

.texto_logo {

    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div_navbar {


    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 26px;
    gap: 15px;
    color: #000000;
    cursor: pointer;

}

.div_navbar a {
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}


.header .container_header {
    justify-content: space-between;
}

.botaoCadastro {

    border: solid 2px black;
    border-radius: 29px;
    width: 8vw;
    background-color: #AAD7D9;
    text-decoration: none;
    height: 4vh;
    margin-top: 3px;

    text-align: center;


}

.div_navbar a li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #92C7CF;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s ease-in-out;
    list-style: none;
    text-decoration: none;
}

.div_navbar a:hover ::after {
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.div_navbar a li {
    color: black;
}


.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding: 0 5%;
    height: 60vh;
}

.textoContainer1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    text-align: center;
}

.botaoContainer2 {

    margin-top: 20px;
}

.container2 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.container2Img img {

    max-width: 100%;
    height: auto;
  
}

.tituloContainer1 {
    font-size: 35px;
}

.textoSpan {
    font-size: 26px;
}

.botaoContainer2 {
    background-color: #92C7CF;
    color: black;
    width: 417px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    font-size: 25px;


}

.container3 {
    display: flex;
    justify-content: center;

    height: 25vh;
    text-align: center;

}

.tituloContainer3 {

    max-width: 90%;

}

.div_linha {
    display: flex;
    align-items: center;
    justify-content: center;



}

.div_linha img {
    width: 1000%;
    height: 250px;
}


.container4 {


    display: flex;
    align-items: center;

    width: 90%;

    justify-content: space-between;
    margin: 0 5%;


}

.item1 {


    height: 300px;
    text-align: center;
    width: 300px;
    background-size: cover;
    cursor: pointer;
}

.item1 h2 {
    font-size: 30px;
}

.item1 p {
    font-size: 18px;
}


.item2 h2 {
    font-size: 30px;
}

.item2 p {
    font-size: 18px;
}


.item3 h2 {
    font-size: 30px;
}

.item3 p {
    font-size: 18px;
}


.item2 {

    border: solid 2px rgb(247, 247, 247);
    height: 300px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}


.item3 {


    text-align: center;
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.item1 img {
    width: 179px;
    height: 179px;
}

.item2 img {
    width: 179px;
    height: 179px;
}

.item3 img {
    width: 179px;
    height: 179px;
}

.item1:hover img {

    height: 190px;
    width: 190px;

    transition: 1.8s;



}

.item1:hover {

    background-color: #92C7CF;

    transition: 1.8s ease-in-out;
    border-radius: 25px;
    font-size: 25px;
    height: 370px;
    font-weight: bold;


}

.item2:hover img {

    height: 190px;
    width: 190px;

    transition: 1.8s;



}

.item2:hover {

    background-color: #92C7CF;

    transition: 1.8s ease-in-out;
    border-radius: 25px;
    font-size: 25px;
    height: 370px;
    font-weight: bold;


}

.item3:hover img {

    height: 190px;
    width: 190px;

    transition: 1.8s;

}

.item3:hover {

    background-color: #92C7CF;

    transition: 1.8s ease-in-out;
    border-radius: 25px;
    font-size: 25px;
    height: 370px;
    font-weight: bold;


}

.invisivel {
    opacity: 0;
    filter: blur(15px);
    transition: all 2.8s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transition: all 2.8s;
    filter: blur(0px);
    transform: translateX(0%);
}

.container5 {
    height: 140vh;
    margin-top: 10vh;
    background-color: #F2F0ED;
}

.tituloSobre {
    display: flex;
    justify-content: center;
    color: #92C7CF;
    font-size: 40px;
}

.container6 img {
    width: 410px;
    height: 421px;

}

.container6 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;

}

.container6 p {
    height: 344px;
    width: 647px;
    font-size: 25px;
}


.container6 img {
    display: flex;

}

.container7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    margin-top: 10vh;

}

.container7 img {
    width: 410px;
    height: 421px;
}

.container7 p {
    width: 509px;
    height: 434px;
    font-size: 25px;
}

.container8 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 61vh;

}

.container8 button {
    background-color: #92C7CF;
    color: black;
    width: 417px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    font-size: 25px;
    margin-top: 3vh;
    cursor: pointer;


}

.container8 img {
    width: 350px;
    height: 362px;
    margin-top: 3vh;

}

.container8 h2 {
    font-size: 50px;
    margin: 0;
}

.botaoCalculadora:hover {
   
    background-color: black;
    color: #92C7CF;
    transition: 0.5s;
}

.botaoContainer2:hover{
    background-color: black;
    color: #92C7CF;
    transition: 0.5s;
    cursor: pointer;
}




.container9 {
    height: 25vh;
    background-color: #92C7CF;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.container10 {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0 5%;
    gap: 30px;
}

.container10 h2 {
    font-size: 40px;
}

.container10 p {
    font-size: 25px;
}


.container11 {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    text-align: center;
}

.container11 img {
    width: 85px;
    height: 75px;
}

.container11 h2 {
    font-size: 40px;
    margin: 0;
}

.container12 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container13 {

    background-color: #92C7CF;

}

.container13 p {
    width: 642px;
  
    font-size: 20px;
}

.container13 img {
    width: 183px;
    height: 151px;
}

.container14 {
    margin: 0 5%;
}

.container14 {
    display: flex;
    align-items: end;
    justify-content: space-between;
}