body{
    margin: 0;
    padding: 0;
 
 
  font-family: "Roboto", sans-serif;
    background-color: rgb(233, 229, 229);
    overflow-x: hidden;
}


.container1{
    width: 99vw;
    height: 102vh;
 
    background-color: rgb(233, 229, 229);
}

.containerLeft {

    
    width: 40vw;
    height: 80vh;
    left: 0;
    background-color: #40679E;
   
    border-radius: 0px 0px 192px 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container3{
    display: flex;
    align-items: center;  
}

.logo {
    margin-left: 5rem;
    height: 10rem;
    padding:0
}

.txt-logo{
    margin-left: 2rem;
    font-size: 4rem;
    color: #fff;
}

.texto{
    width: 29.22vw;
    height: 51.94vh;
        color: white;
}

.texto h1{
    font-size: 2.5rem;
}
.texto h3{
    font-size: 2.3rem;
}
.texto p {
    font-size: 1.40rem;
}
.container2{
    margin-left: 5vh;
}


.containerLeft, .containerRight {
    position: absolute; 
    top: 0; 
    width: 50%; 
    height: 100%; 
}
.containerRight {
    width: 50vw;
    height: 100vh;
    right: 0;
    display: flex;
  
  
    flex-direction: column;

    
}

.navbar li{
   
    border: 2px solid black;
    background-color: #11009E;
    width: 8.28vw;
    height: 3.70vh;
    text-align: center;
    color: white;
    font-size: 1.56rem;
    border-radius: 7px;
    text-decoration: none;
    list-style: none;
}

.navbar li:hover {
    background-color: white;
    color: #11009E;
    transition: 2s;
    cursor: pointer;
    text-decoration: none;
    list-style: none;

}

.navbar  a {
    text-decoration: none;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 0;
    margin-top: 5vh;
}

.imagensRight {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  width: 43.23vw;
  height: 40.37vh;
  position: relative;
   border-radius: 15px;
}

.empilhadeira {
    width: 23.44vw;
    height: 40.37vh;
    border-radius: 15px;
}

.planeta {
    width: 16.46vw;
    height: 32.13vh;
    border-radius: 25px;
  
   position: absolute;
}

.sobreposicao{
    position: absolute;
    bottom: 0; 
    right: 0; 
    width: 40%; 
    height: 100%; 
   display: flex;
   align-items: center;
    border-radius: 15px;
}



.imgValores {
    width: 5.21vw;
    height: 9.26vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.textoValores{
    width: 29.22vw;
    height: 30.28vh;
    margin-right: 10vh;
}

.textoValores h1{
    font-size: 2.5rem;
    text-align: center;
}

.textoValores p {
    font-size: 1.40rem;
}
.item1 img{
    height: 13.89vh;
   width: 7.81vw;
   
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}
.item1{
    text-align: center;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.item2 img{
   height: 13.89vh;
   width: 7.81vw;
   
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}
.item2{
    text-align: center;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.item3 img{
   height: 13.89vh;
   width: 7.81vw;
   
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}
.item3{
    text-align: center;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.item1:hover img {

   height: 14.35vh;
   width: 8.07vw;

    transition: 1.8s;

    background-color: #92C7CF;
    transition: 2.4s;
    

}


.item2:hover img {

   height: 14.35vh;
   width: 8.07vw;

    transition: 1.8s;

    background-color: #92C7CF;
    transition: 2.4s;
    


}



.item3:hover img {

   height: 14.35vh;
   width: 8.07vw;

    transition: 1.8s;

    background-color: #92C7CF;
    transition: 2.4s;
    

}
.containerValores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
  height: 60vh;
    
}

.container10{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35vh;
    flex-direction: column;
    width: 99vw;
}
.container11 img{
    width: 648px;
    height: 457px;
    border-radius: 40px;
}

.container12 img{
    width: 648px;
    height: 457px;
    border-radius: 40px;
}

.container13 img{
    width: 648px;
    height: 457px;
    border-radius: 40px;
}



.container11{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
  height: 60vh;
    
}

.textoContainer11 {
     width: 39.22vw;
    height: 60.27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.textoContainer11 h1{
  font-size: 2.5rem;
    margin: 0;
    
}

.textoContainer11 p {
   font-size: 1.40rem;
}


.container12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
  height: 60vh;
    
}

.textoContainer12 {
     width: 39.22vw;
    height: 60.27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.textoContainer12 h1{
  font-size: 2.5rem;
    margin: 0;
}

.textoContainer12 p {
   font-size: 1.40rem;
}


.container13{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    
}

.textoContainer13 {
     width: 39.22vw;
    height: 60.27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   font-size: 1.40rem;
    
}

.textoContainer13 h1{
  font-size: 2.5rem;
    margin: 0;
}

.textoContainer13 p {
   font-size: 1.40rem;
}

.container14{
    height: 25vh;
    background-color: #40679E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialContainer14{
    display: flex;
    gap: 35px;
}

.textoContainer14 h1 {
    font-size: 25px;
}

.invisivel {
    opacity: 0;
    filter: blur(15px);
    transition: all 2.8s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transition: all 2.8s;
    filter: blur(0px);
    transform: translateX(0%);
}
