* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: "Inter", sans-serif;
}

:root {
    --blue: #11009e;
    --babyBlue: #40679e;
    --red: #840303;
}

/* Header*/

header {
    background-color: #000000;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    border-bottom: #11009e solid 4px;
    overflow-y: hidden;
}

.flux {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.logo {
    height: 12vh;
}

.logo-txt {
    font-size: 23px;
    font-weight: 800;
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    width: 40vw;
    align-items: center;
}

.nav-button {
    height: 5vh;
    line-height: 5vh;
    width: 10vw;
    border-radius: 25px;
    background-color: var(--blue);
    color: #fff;
    border: #fff 2px solid;
    text-decoration: none;
    list-style: none;
    overflow-y: hidden;
    text-align: center;
}

/* Main */

main {
    height: 87vh;
    width: 100vw;
    background: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-content {
    height: 28vh;
    top: 0;
    display: flex;
}

.info {
    position: fixed;
    width: 20vw;
    right: 0;

}

.gondolas {
    position: fixed;
    height: 28vh;
    width: 60vw;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.h1-gondola {
    margin-bottom: 1rem;
    margin-left: 10rem;
    font-size: 1.5rem;
}

.subtitle {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0.5rem;
    overflow: hidden;
    font-weight: 600;

}


.red-info {
    display: flex;
    background-color: var(--red);
    height: 0.5rem;
    width: 0.5rem;
    padding: 1rem;
    border-radius: 360px;
    margin-right: 0.4rem;
    border: 3px solid #000000;
    animation: mudar-cor-red 2s infinite;
}

.blue-info {
    background-color: #11009e;
    height: 0.5rem;
    width: 0.5rem;
    padding: 1rem;
    border-radius: 360px;
    margin-right: 0.4rem;
    border: 3px solid #000000;
    animation: mudar-cor-blue 2s infinite;
}

.txt-info-red {
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    color: transparent; /* Tornar o texto transparente */
    background-color: #000000; /* Cor de fundo preta */
    padding: 0.5rem;
    border-radius: 45px;
    /* Aplicar gradiente como cor de fundo */
    background-image: linear-gradient(to bottom, var(--red), rgb(0, 0, 0));
    /* Clipar o gradiente com o texto */
    -webkit-background-clip: text;
    background-clip: text;
}

.txt-info-blue {
    margin-right: 1rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    color: transparent; /* Tornar o texto transparente */
    background-color: #000000; /* Cor de fundo preta */
    padding: 0.5rem;
    border-radius: 45px;
    /* Aplicar gradiente como cor de fundo */
    background-image: linear-gradient(to bottom, var(--blue), rgb(0, 0, 0));
    /* Clipar o gradiente com o texto */
    -webkit-background-clip: text;
    background-clip: text;
}

.check-txt {
    margin-top: 10px;
}


.switch {
    position: fixed;
    height: 28vh;
    width: 100vw;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.switch-txt {
    width: 8rem;
    text-align: center;
    font-weight: 800;
}

.switch .switch-txt {
    padding-right: 1vw;
    font-size: 18px;
}

.switch .switch-wrapper {
    display: inline-block;
    width: 4vw;
    height: 5.5vh;
    position: relative;
}

.switch .switch-wrapper .switch-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
    background-image: linear-gradient(to top, red, rgb(0, 0, 0));
}

.switch .switch-wrapper .switch-btn::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0.5rem;
    bottom: auto;
    border-radius: 50%;
    transition: 0.4s all ease;
    background-color: #fff;
}

.switch .switch-wrapper input:checked+.switch-btn {
    background-image: linear-gradient(to bottom, var(--blue), rgb(0, 0, 0));
}

.switch .switch-wrapper input:checked+.switch-btn::before {
    transform: translateX(3.2vh);
}

.switch .switch-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 85vw;
    margin: 0 auto;
    height: 50vh;
    overflow-y: hidden;
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    height: 20rem;
    font-size: 20px;
    width: 3rem;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.4;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
    left: auto;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item {
    width: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}




.gallery-wrapper::-webkit-scrollbar {
    display: none;
}


.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.card {
    flex-shrink: 0;
    height: 9rem;
    width: 15rem;
    margin-bottom: 15px;
    border-radius: 25px;
    color: #fff;
    opacity: 1;
    transition: opacity 2s ease, all 600ms ease-in-out;
}

.invisible {
    display: block;
    opacity: 0;
    transition: opacity 2s ease;
}

.empty {
    background-image: linear-gradient(to top, red, rgb(0, 0, 0));
}

.contains {
    background-image: linear-gradient(to bottom, var(--blue), rgb(0, 0, 0));
    display: none;
}

.empty:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #000000, #ffffff);
    color: var(--red);
    font-weight: 900;
    border: var(--red) solid 3px;
}

.contains:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #000000, #ffffff);
    color: #11009e;
    font-weight: 900;
    border: #11009e solid 3px;
}

.none{
    text-decoration: none;
}

.nav-button:hover{
    color:var(--blue);
    background-color:#fff
  }

@keyframes mudar-cor-red {
    50% {
        background-color: var(--red);
    }

    100% {
        background-color: #f60a0a;
    }

}

@keyframes mudar-cor-blue {
    50% {
        background-color: rgb(77, 240, 255);
    }

    100% {
        background-color: var(--blue)
    }
}