* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

:root {
    --blue: #11009e;
    --babyBlue: #40679e;
}

/* Header*/

header {
    background-color: #f1eedc;
    height: 13vh;
    display: flex;
    justify-content: space-between;
}

.flux {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.logo {
    height: 12vh;
}

.logo-txt {
    font-size: 23px;
    font-weight: 800;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 3vw;
}

.icon-menu {
    height: 8vh;
}

.icon-menu:hover {
    color: white;
    transform: scale(0.8);
    cursor: pointer;
}

/* Main */

main {
    height: 87vh;
    width: 100vw;
}

.info-content {
    height: 28vh;
    top: 0;
    display: flex;
}

.info {
    position: fixed;
    width: 20vw;
    right: 0;
}

.gondolas {
    position: fixed;
    height: 28vh;
    width: 60vw;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.h1-gondola {
    margin-left: 8rem;
}

.subtitle {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0.5rem;
    overflow: hidden;
    font-weight: 600;

}

.red-info {
    display: flex;
    background-color: #840303;
    height: 0.5rem;
    width: 0.5rem;
    padding: 1rem;
    border-radius: 360px;
    margin-right: 0.4rem;
    border: 3px solid #000000;
}

.blue-info {
    background-color: #11009e;
    height: 0.5rem;
    width: 0.5rem;
    padding: 1rem;
    border-radius: 360px;
    margin-right: 0.4rem;
    border: 3px solid #000000;
}

.txt-info {
    font-weight: 800;
}


.check-txt {
    margin-top: 10px;
}


.switch {
    position: fixed;
    height: 28vh;
    width: 100vw;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.switch-txt {
    width: 8rem;
    text-align: center;
    font-weight: 800;
}

.switch .switch-txt {
    padding-right: 1vw;
    font-size: 18px;
}

.switch .switch-wrapper {
    display: inline-block;
    width: 4vw;
    height: 5.5vh;
    position: relative;
}

.switch .switch-wrapper .switch-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
    background-color: rgb(132, 3, 3);
}

.switch .switch-wrapper .switch-btn::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0.5rem;
    bottom: auto;
    border-radius: 50%;
    transition: 0.4s all ease;
    background-color: #fff;
}

.switch .switch-wrapper input:checked+.switch-btn {
    background-color: var(--blue);
}

.switch .switch-wrapper input:checked+.switch-btn::before {
    transform: translateX(3.2vh);
}

.switch .switch-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 85vw;
    margin: 0 auto;
    height: 50vh;
    overflow-y: hidden;
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    height: 20rem;
    font-size: 20px;
    width: 3rem;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
    left: auto;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item {
    width: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}




.gallery-wrapper::-webkit-scrollbar {
    display: none;
}


.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.card {
    height: 9rem;
    width: 15rem;
    margin-bottom: 15px;
    border-radius: 25px;
    color: #fff;
}


.empty {
    background-color: #840303;
}

.contains {
    background-color: #11009e;
}

.empty:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #000000, #ffffff);
    color: #840303;
    font-weight: 900;
    border: #840303 solid 3px;
}

.contains:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #000000, #ffffff);
    color: #11009e;
    font-weight: 900;
    border: #11009e solid 3px;
}