* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

:root {
  --blue: #11009e;
  --babyBlue: #40679e;
}

/* Header*/

header {
  background-color: rgb(5, 10, 18);
  height: 13vh;
  display: flex;
  justify-content: space-between;
  border-bottom: #11009e solid 4px;
  overflow-y: hidden;
}

.flux {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}

.logo {
  height: 12vh;
}

.logo-txt {
  font-size: 23px;
  font-weight: 800;
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 13vh;
  width: 45vw;
  align-items: center;
}

.nav-button {
  height: 5vh;
  line-height: 5vh;
  width: 10vw;
  border-radius: 25px;
  background-color: var(--blue);
  color: #fff;
  border: #fff 2px solid;
  text-decoration: none;
  list-style: none;
  overflow-y: hidden;
  text-align: center;
}


/* Main   */

main {
  background-image: url(assets/BackCesta.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 15px;
  background-color: rgb(5, 10, 18);
  color: #fff;
  height: 65vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  border-radius: 45px;
  border: 5px solid transparent;
  animation: mudar-cor 3s linear infinite;
}


@keyframes mudar-cor {
  0% {
    border-color: var(--blue);
  }

  50% {
    border-color: #ffffff;
  }

  100% {
    border-color: var(--blue);
  }
}

.setor {
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.search-box {
  background: #38373f;
  height: 40px;
  width: fit-content;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: white;
  font-size: 16px;
  line-height: 48px;
  width: 0;
  transition: 0.5s;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #11009e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.search-box:hover>.search-txt {
  width: 220px;
  padding: 0 6px;
}

.search-box:hover>.search-btn {
  background-color: white;
}


.select_setor {
  border: 3px solid var(--blue);
  font-size: 15px;
  text-align: center;
  height: 5vh;
  width: 8vw;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 15px;
}

.noSelect {
  background-color: rgb(186, 34, 34);
  color: white;
}


.content {
  height: 43vh;
  display: flex;
  flex-direction: column;
}

.content h1 {
  margin-top: 3vh;
  text-align: center;
  font-size: 40px;
}

.infoSetor {
  margin-top: 1vh;
  margin-left: 3vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 30vh;
  font-size: 25px;
  font-weight: 550;
}

.div-button {
  display: flex;
  justify-content: center;
  height: 6vh;
}

.button-data {
  background-color: var(--blue);
  color: #fff;
  height: 4vh;
  padding: 0 8vw;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}
.button-data:hover{
    color:var(--blue);
    background-color:#fff
}

.nav-button:hover{
  color:var(--blue);
  background-color:#fff
}

